# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook specific
.ipynb_checkpoints/

# Conda environment
.env/
.venv/

# Virtual environment
venv/
env/

# Jupyter Notebooks
*.ipynb

# Jupyter lab settings
/lab/
/lab/*

# Python bytecode
__pycache__/

# Temporary files
*~

# Cache and logs
.cache/
logs/

# Ignore generated HTML files from Jupyter Notebooks
*.html
.DS_Store
